Repository andrewgazelka/zsync: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Level 0: Independent checks (run in parallel)
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --check
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        files: (Cargo\.toml|Cargo\.lock)$
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: (Cargo\.toml|Cargo\.lock|deny\.toml)$
        pass_filenames: false

      - id: cargo-outdated
        name: cargo outdated
        entry: cargo outdated --exit-code 1 --root-deps-only
        language: system
        files: (Cargo\.toml|Cargo\.lock)$
        pass_filenames: false

      - id: jscpd
        name: jscpd
        entry: bunx jscpd --pattern "src/**/*.rs" --threshold 0
        language: system
        files: \.rs$
        pass_filenames: false

      # Level 1: Depends on format checks
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
        depends_on:
          - cargo-fmt

      # Level 2: Depends on clippy
      - id: cargo-test
        name: cargo nextest
        entry: cargo nextest run --all-features
        language: system
        files: \.rs$
        pass_filenames: false
        depends_on:
          - cargo-clippy

      - id: cargo-modules-orphans
        name: cargo modules orphans
        entry: cargo modules orphans --all-features
        language: system
        files: \.rs$
        pass_filenames: false
        depends_on:
          - cargo-clippy

      - id: cargo-build
        name: cargo build
        entry: cargo build --all-features
        language: system
        files: \.rs$
        pass_filenames: false
        depends_on:
          - cargo-clippy

feat: add cross-platform release workflow
  .github/workflows/release.yml
Due: none

feat: add agent binary embedding via Nix
  .github/workflows/release.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/agent/src/main.rs
  crates/cli/build.rs
  crates/cli/src/embedded_agents.rs
  crates/cli/src/main.rs
  crates/core/src/scan.rs
  crates/core/src/snapshot.rs
  crates/transport/src/agent.rs
  crates/transport/src/ssh.rs
  flake.lock
  flake.nix
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

docs: modernize README with SVG header
  .github/assets/header.svg
  README.md
Due: none

fix: musl cross-compilation and looping SVG animation
  .github/assets/header.svg
  flake.nix
Due: none

feat: styled CLI help with clap Styles
  crates/cli/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: use function form for crane overrideToolchain
  flake.nix
Due: none

update svg
  .github/assets/header.svg
Due: none

fix: revert to direct toolchain (function form breaks cross)
  flake.nix
Due: none

fix: use proper spliced toolchain for cross-compilation (no warnings)
  flake.nix
Due: none

fix: skip .git directory and default paths to current dir
  crates/cli/src/main.rs
  crates/core/src/scan.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: revert to pkgsCross for working cross-compilation
  flake.nix
Due: none

feat: add --include flag to force-include gitignored files
  crates/cli/src/main.rs
  crates/core/src/scan.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: auto-load .zsyncinclude for force-including gitignored files
  crates/core/src/scan.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: complete rewrite with pure Rust SSH (russh) and binary protocol
  Cargo.lock
  Cargo.toml
  crates/agent/Cargo.toml
  crates/agent/src/main.rs
  crates/cli/src/main.rs
  crates/core/src/hash.rs
  crates/core/src/lib.rs
  crates/core/src/protocol.rs
  crates/transport/Cargo.toml
  crates/transport/src/agent.rs
  crates/transport/src/lib.rs
  crates/transport/src/ssh.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: use content hash for agent versioning instead of cargo version
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: support IdentityAgent from SSH config for 1Password
  crates/cli/src/main.rs
  crates/core/src/protocol.rs
  crates/core/src/scan.rs
  crates/transport/src/agent.rs
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: add --no-delete flag to preserve remote-only files
  crates/cli/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

refactor: use ssh2-config crate for proper SSH config parsing
  Cargo.lock
  crates/cli/src/main.rs
  crates/transport/Cargo.toml
  crates/transport/src/ssh.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

update
  Cargo.lock
  crates/transport/Cargo.toml
  crates/transport/src/ssh.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

update
  README.md
Due: none

feat: add pipelined batch transfers and delta sync
  Cargo.lock
  crates/agent/src/main.rs
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/core/src/delta.rs
  crates/core/src/protocol.rs
  crates/transport/src/lib.rs
  crates/transport/src/ssh.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: handle BATCH_RESULT and SIGNATURE_RESP in SSH transport
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

docs: rewrite README to emphasize zero-dependency remote sync
  README.md
Due: none

fix: correct mutagen comparison (also auto-deploys agent)
  README.md
Due: none

perf: parallelize file hashing with rayon
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/scan.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

add commit
  README.md
Due: none

feat: print individual file changes by default
  crates/cli/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

perf: keep SSH connection alive in watch mode
  crates/cli/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: use human-readable file sizes in transfer output
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: show individual file sizes in change list
  crates/cli/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

perf: FastCDC content-defined chunking + heed signature cache
  Cargo.lock
  Cargo.toml
  crates/agent/src/main.rs
  crates/cli/src/main.rs
  crates/core/Cargo.toml
  crates/core/src/cache.rs
  crates/core/src/chunker.rs
  crates/core/src/delta.rs
  crates/core/src/lib.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

docs: highlight FastCDC intra-file delta sync in README
  README.md
Due: none

feat(cli): add better diagnostics and dry-run mode
  Cargo.lock
  Cargo.toml
  README.md
  crates/cli/src/main.rs
  crates/core/Cargo.toml
  crates/core/src/config.rs
  crates/core/src/lib.rs
  crates/core/src/scan.rs
  crates/transport/src/ssh.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

docs: add Configuration section with port forwarding
  README.md
Due: none

feat: content-addressable storage for cross-file deduplication
  Cargo.lock
  README.md
  crates/agent/src/main.rs
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/core/src/cas.rs
  crates/core/src/lib.rs
  crates/core/src/protocol.rs
  crates/transport/Cargo.toml
  crates/transport/src/ssh.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

docs: fix README comparison table - mutagen does have delta sync
  README.md
Due: none

docs: improve README comparison table to highlight zsync advantages
  README.md
Due: none

docs: use 'content-aware' instead of 'FastCDC' in table
  README.md
Due: none

docs: reframe chunking benefit as 'Edit → re-upload' behavior
  README.md
Due: none

docs: add CLAUDE.md with serialization guidelines
  CLAUDE.md
Due: none
