Repository andrewgazelka/zsync: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Level 0: Independent checks (run in parallel)
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --check
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        files: (Cargo\.toml|Cargo\.lock)$
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: (Cargo\.toml|Cargo\.lock|deny\.toml)$
        pass_filenames: false

      - id: cargo-outdated
        name: cargo outdated
        entry: cargo outdated --exit-code 1 --root-deps-only
        language: system
        files: (Cargo\.toml|Cargo\.lock)$
        pass_filenames: false

      - id: jscpd
        name: jscpd
        entry: bunx jscpd --pattern "src/**/*.rs" --threshold 0
        language: system
        files: \.rs$
        pass_filenames: false

      # Level 1: Depends on format checks
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
        depends_on:
          - cargo-fmt

      # Level 2: Depends on clippy
      - id: cargo-test
        name: cargo nextest
        entry: cargo nextest run --all-features
        language: system
        files: \.rs$
        pass_filenames: false
        depends_on:
          - cargo-clippy

      - id: cargo-modules-orphans
        name: cargo modules orphans
        entry: cargo modules orphans --all-features
        language: system
        files: \.rs$
        pass_filenames: false
        depends_on:
          - cargo-clippy

      - id: cargo-build
        name: cargo build
        entry: cargo build --all-features
        language: system
        files: \.rs$
        pass_filenames: false
        depends_on:
          - cargo-clippy

refactor: migrate delta.rs from serde_json to rkyv
  CLAUDE.md
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/delta.rs
  crates/core/src/hash.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

docs: restructure README to highlight capabilities first
  README.md
Due: none

fix: resolve clippy warnings and errors
  crates/agent/src/main.rs
  crates/cli/src/main.rs
  crates/core/src/cache.rs
  crates/core/src/cas.rs
  crates/core/src/chunker.rs
  crates/core/src/protocol.rs
  crates/core/src/scan.rs
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: allow dead_code for SSH connection info fields
  .pre-commit-config.yaml
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: use cargo test instead of nextest in CI
  .pre-commit-config.yaml
Due: none

fix: server scans all files instead of respecting gitignore
  Cargo.lock
  crates/agent/Cargo.toml
  crates/agent/src/main.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: store full Unix permission mode instead of boolean executable
  crates/agent/src/main.rs
  crates/cli/src/main.rs
  crates/core/src/protocol.rs
  crates/core/src/scan.rs
  crates/core/src/snapshot.rs
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: add agent hash logging for debugging deployment
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

debug: add mode verification logging to agent
  crates/agent/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

debug: add file-based logging to agent for mode verification
  crates/agent/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

debug: more verbose write_file logging
  crates/agent/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: handle set_permissions failures gracefully
  crates/agent/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: show WHY files are modified (content vs mode)
  crates/cli/src/main.rs
  crates/core/src/lib.rs
  crates/core/src/snapshot.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: match git behavior - only compare executable bit for mode
  crates/core/src/snapshot.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: add cargo-style progress UI for file sync
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/cli/src/progress.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: use MultiProgress to coordinate progress bars with tracing logs
  crates/cli/src/main.rs
  crates/cli/src/progress.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: cargo-style upload progress bar with Ghostty terminal support
  crates/cli/src/main.rs
  crates/cli/src/progress.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: add streaming progress during chunk upload
  crates/cli/src/main.rs
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: add debug file logging with session UUID for diagnosing sync issues
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/debug_log.rs
  crates/cli/src/main.rs
  crates/transport/src/ssh.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: batch chunk uploads to avoid SSH flow control deadlock
  crates/cli/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: remove console tracing layer to avoid interfering with progress bars
  crates/cli/src/debug_log.rs
  crates/cli/src/progress.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: batch manifest operations to avoid SSH flow control deadlock
  crates/cli/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: add cargo-style status output for key sync milestones
  crates/cli/src/main.rs
  crates/cli/src/progress.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: incremental sync for watch mode
  crates/cli/src/main.rs
  crates/core/src/scan.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: simplify CLI interface
  crates/cli/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

docs: rewrite README for HN appeal
  README.md
Due: none

feat: SSH-style CLI with simpler syntax
  README.md
  crates/cli/src/main.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: show each file during sync (cargo-style verbose output)
  crates/cli/src/main.rs
  crates/cli/src/progress.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: truncate status lines to terminal width
  crates/cli/src/progress.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

stash
  Cargo.lock
  Cargo.toml
  README.md
  crates/agent/Cargo.toml
  crates/agent/src/main.rs
  crates/cli/src/main.rs
  crates/core/src/conflict.rs
  crates/core/src/lib.rs
  crates/core/src/protocol.rs
  crates/core/src/sync_state.rs
  crates/transport/Cargo.toml
  crates/transport/src/lib.rs
  crates/transport/src/local.rs
  crates/transport/src/ssh.rs
  crates/transport/tests/ssh_e2e.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

update
  README.md
Due: none

fix: buffer ChangeNotify during request/response to prevent race condition
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

test: add testcontainer SSH E2E tests
  Cargo.lock
  crates/transport/Cargo.toml
  crates/transport/tests/ssh_e2e.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: respect gitignore in watch mode + add sync direction arrows
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/cli/src/progress.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

update
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/cli/src/progress.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

fix: suppress self-triggered watch events + proper gitignore filtering
  crates/agent/src/main.rs
  crates/cli/src/main.rs
  crates/core/src/scan.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: support SSH config hosts in remote specification
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  test_scanner.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

update
  crates/agent/src/main.rs
  crates/cli/src/main.rs
  crates/core/src/protocol.rs
  crates/transport/src/ssh.rs
Due: cargo-fmt, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

no openssh dep
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  vendor/ssh_config/.cargo_vcs_info.json
  vendor/ssh_config/.gitignore
  vendor/ssh_config/.gitlab-ci.yml
  vendor/ssh_config/Cargo.toml
  vendor/ssh_config/Cargo.toml.orig
  vendor/ssh_config/LICENSE
  vendor/ssh_config/README.md
  vendor/ssh_config/src/config.rs
  vendor/ssh_config/src/error.rs
  vendor/ssh_config/src/lib.rs
  vendor/ssh_config/src/parser/entry_parser.rs
  vendor/ssh_config/src/parser/mod.rs
  vendor/ssh_config/src/parser/tokenizer.rs
  vendor/ssh_config/src/pattern.rs
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build

feat: add Bazel build system with Docker-based Linux cross-compilation
  .bazelrc
  .bazelversion
  .gitignore
  BUILD.bazel
  Cargo.bazel.toml
  MODULE.bazel
  crates/BUILD.bazel
  crates/agent/BUILD.bazel
  crates/cli/BUILD.bazel
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/core/BUILD.bazel
  crates/transport/BUILD.bazel
  vendor/BUILD.bazel
  vendor/ssh_config/BUILD.bazel
Due: cargo-fmt, cargo-audit, cargo-deny, cargo-outdated, jscpd, cargo-clippy, cargo-test, cargo-modules-orphans, cargo-build
